@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --negative: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(216, 30, 50, 1) 150%);
  --med-negative: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(235, 100, 20, 1) 150%);
  --neutral: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(255, 200, 10, 1) 150%);
  --positive: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(30, 190, 100, 1) 150%);

  
  --fw-400: 400;
  --fw-600: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.781rem;
  --fs-500: 1rem;

  --white: rgba(247, 245, 243, 1);
  --black: rgba(28, 28, 28, 1);
  --grey: rgb(154, 155, 157, 1);
  --primary: rgba(30, 190, 100, 1);
  --yellow: rgba(255, 200, 10, 1);
  --orange: rgba(235, 100, 20, 1);
  --red: rgba(216, 30, 50, 1);
  --accent: rgba(50, 94, 236, 1);
}

/* card backgrounds */

.very-neg-bg {
    background: var(--negative);
}

.neg-bg {
    background: var(--med-negative);
}

.neu-bg {
    background: var(--neutral);
}

.pos-bg {
    background: var(--positive);
}



/* solid colors */

.accent {
  background: var(--accent)  
}

.primary {
    background: var(--primary) 
}

.very-negative {
    background: var(--red) 
}

.negative {
    background: var(--orange) 
}

.neutral {
    background: var(--yellow) 
}


/* base grid */

.content-grid {
      grid-template-columns: 1fr; 
      grid-template-rows: auto; 
      margin: 2rem 5rem;
    }


body {
  font-family: "Poppins", sans-serif;
}


.flex {
  display: flex;
}

.scaled {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

span {
    color: var(--primary);
}

/* header & nav */

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}


input[type="radio"] {
  display: none;
}

nav {
  justify-content: flex-start;
  margin-block: 2rem;
  width: 100%;
}
.nav-container {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem
}

.main-nav-container, .sub-nav-container {
  flex-grow: 1; 
}

.main-nav-container {
  align-items: center;
}
.sub-nav-container {
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  margin-top: .5rem
}

.sub-nav-container .button {
  font-size: .684rem;
}

input[type="radio"]:checked + label.button, label.button:hover {
  background-color: var(--accent);
  color: var(--white);
}

.button {
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: lowercase;
    white-space: nowrap;

    margin: 0;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.main-button {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--black);
}

.main-button:hover {
  background: var(--primary);
}

.submit {
  flex-grow: 0; 

  background-color: var(--primary);
  text-transform: uppercase;
}

.submit:hover {
  background: var(--accent);
}

.main-button.selected {
  background: var(--primary); 
}

#sentiment #positive:checked + .positive-label,
#sentiment .positive-label:hover {
    background-color: var(--primary);
}

#sentiment #neutral:checked + .neutral-label,
#sentiment .neutral-label:hover {
    background-color: var(--yellow);
}

#sentiment #negative:checked + .negative-label,
#sentiment .negative-label:hover {
    background-color: var(--orange);
}

#sentiment #very_negative:checked + .very-negative-label,
#sentiment .very-negative-label:hover {
    background-color: var(--red);
}
/* card container & cards  */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;

}

.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  font-size: 12px;
}

.card:hover {
  transform: scale(1.05);
}


.card img {
  max-width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card-details {
  padding: 5px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-details p {
    font-size: var(--fs-300);
    font-weight: var(--fw-200);
}

.card-details a {
  color: inherit;
  text-decoration: inherit;
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
}

.card-content {
  padding: 0 20px 20px 20px;
}

.headline {
  font-size: var(--fs-500);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
    overflow: hidden;


}

.card-content p {
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: normal; 

}


/* buttons

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  text-wrap: nowrap;
  transition: transform 0.3s ease-in-out;

}

/* rate buttons  */

/* .rating-container {
  margin-top: 1rem;
  padding: 0px 0px 0px 15px;
  gap: 1rem;
}

.rate-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--black);
  }

.circle-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.circle-button-container {
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
} */ 



/* media query */

@media (min-width: 1080px) {

.content-grid {
  display: grid;
  grid-template-columns: [margin-start] 5rem [sidebar-start] 1fr [sidebar-end content-start] 3.5fr [content-end margin-end] 5rem;
  gap: 3rem;
  margin: 3rem 0;
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  display: flex;
  flex-direction: column; 
  align-items: center;


}

.content {
  grid-column: content-start / content-end;
}

h1 {
    line-height: 1.2;
}

nav {
  justify-content: center;
  width: 10rem;
}

.nav-container {
  flex-direction: column; 
  align-items: center;
  width: 100%; 
  gap: 1.5rem
}

.main-nav-container, .sub-nav-container, .submit {
  flex-grow: 1; 
  width: 100%;
}

.sub-nav-container {
  flex-direction: column;
  /* flex-wrap: wrap; */

}

}
