@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --very-negative: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(216, 30, 50, 1) 150%);
  --negative: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(235, 100, 20, 1) 150%);
  --neutral: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(255, 200, 10, 1) 150%);
  --positive: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(30, 190, 100, 1) 150%);

  --fs-300: 0.625rem;
  --fs-350: 0.688rem;
  --fs-400: 0.75rem;
  --fs-500: 0.875rem;
  --fs-600: 1rem;

  --white: rgba(247, 245, 243, 1);
  --black: rgba(28, 28, 28, 1);
  --grey: rgb(154, 155, 157, 1);
  --primary: rgba(30, 190, 100, 1);
  --yellow: rgba(255, 200, 10, 1);
  --orange: rgba(235, 100, 20, 1);
  --red: rgba(216, 30, 50, 1);
  --accent: rgba(50, 94, 236, 1);
}

/* card backgrounds */

.very-neg-bg { background: var(--very-negative); }
.neg-bg { background: var(--negative); }
.neu-bg { background: var(--neutral); }
.pos-bg { background: var(--positive); }


/* solid colors */

.accent { background: var(--accent) }
.primary { background: var(--primary); }
.neutral { background: var(--yellow); }
.negative { background: var(--orange); }
.very-negative { background: var(--red); }



/* base grid */

.content-grid {
      grid-template-columns: 1fr; 
      margin: 2rem 5rem;
    }


body {
  font-family: "Poppins", sans-serif;
}


.flex {
  display: flex;
}

.scaled {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.hidden {
  display: none
}

span {
    color: var(--primary);
}



/* header & nav */

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}


input[type="radio"] {
  display: none;
}

nav {
  justify-content: flex-start;
  margin-block: 2rem;
  width: 100%;
}
.nav-container {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem
}

.main-nav-container {
  align-items: center;
}
.sub-nav-container {
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  margin-top: .5rem
}

.sub-nav-container .button {
  font-size: var(--fs-350);
}

input[type="radio"]:checked + label.button, label.button:hover {
  background-color: var(--accent);
  color: var(--white);
}

.button {
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: lowercase;
    white-space: nowrap;

    margin: 0;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.main-button {
  font-size: var(--fs-500);
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--black);
}

.main-button:hover {
  background: var(--primary);
}

.submit {
  flex-grow: 0; 

  background-color: var(--primary);
  text-transform: uppercase;
}

.submit:hover {
  background: var(--accent);
}

.main-button.selected {
  background: var(--primary); 
}

#sentiment #positive:checked + .positive-label,
#sentiment .positive-label:hover {
    background-color: var(--primary);
}

#sentiment #neutral:checked + .neutral-label,
#sentiment .neutral-label:hover {
    background-color: var(--yellow);
}

#sentiment #negative:checked + .negative-label,
#sentiment .negative-label:hover {
    background-color: var(--orange);
}

#sentiment #very_negative:checked + .very-negative-label,
#sentiment .very-negative-label:hover {
    background-color: var(--red);
}
/* card container & cards  */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;

}

.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  font-size: 12px;
}

.card-container > .card:hover {
  transform: scale(1.05);
}

.modal-content .card {
  transform: none 
}



.card img {
  max-width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card-content-container {
  padding: 20px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  
}


.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-details p {
    font-size: var(--fs-350);
    font-weight: 200;
}

.card-details a {
  color: inherit;
  text-decoration: inherit;
  font-size: var(--fs-400);
  font-weight: 600;
}



.headline {
  font-size: var(--fs-600);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
    overflow: hidden;
}

.card-content p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: var(--fs-400);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: normal; 

}

#articleModal {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  align-items: center;
  justify-content: center;

}


.modal-content {
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--white);
}


#articleModal .modal-content img {
  height: 150px;
}


#articleModal .modal-content .card-details p {
  font-size: var(--fs-400);
}

.blur-effect {
  filter: blur(10px);
  pointer-events: none;
}


/* buttons */

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  text-wrap: nowrap;
  transition: transform 0.3s ease-in-out;

}

/* rate buttons */


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 20px 0 20px;
  margin-block-end: 20px;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.rate-button, .read-more {
  padding: 5px 10px;
  border-radius: 15px;
  background: var(--black);
  color: var(--white);
  font-size: var(--fs-400);
  border: none;
  cursor: pointer;
}

.read-more:hover {
  transform: scale(1.05);
  background: var(--primary);
}

.rate-button:hover {
  transform: scale(1.05);
  background: var(--accent);

}

.rate-button.selected {
  background: var(--accent); 
}



.circle-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 1rem;
  left: -16px;
  visibility: hidden; 
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.circle-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer; 

  position: relative; /* Needed for positioning the :before content */
  overflow: hidden; /* Ensures the text does not overflow the button's bounds */
  transition: all 0.3s ease; /* Smooth transition for size and shape changes */

  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease; /* Smooth transition for size and shape changes */

}

.circle-button:hover {
    width: 100px;
    height: 25px;
    border-radius: 15px;
    font-size: .75rem;

}

.circle-button.primary:hover:before { content: 'positive'; }
.circle-button.neutral:hover:before { content: 'neutral'; }
.circle-button.negative:hover:before { content: 'negative'; }
.circle-button.very-negative:hover:before { content: 'very negative'; }

.circle-button:hover:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  white-space: nowrap;
  opacity: 1;
}

label {
    display: flex;
    align-items: center;
}

.circle-button.active {
    width: 100px;
    height: 25px;
    border-radius: 15px;
    font-size: .75rem;
    
}

.circle-button.active.primary:before { content: 'positive'; }
.circle-button.active.neutral:before { content: 'neutral'; }
.circle-button.active.negative:before { content: 'negative'; }
.circle-button.active.very-negative:before { content: 'very negative'; }

.circle-button.active:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
    opacity: 1; 
}


.circle-button:before {
  opacity: 0; 
  transition: opacity 0.3s ease 0.15s, transform 0.3s ease; 
}


/* media query */

@media (min-width: 1080px) {

.content-grid {
  display: grid;
  grid-template-columns: [margin-start] 5rem [sidebar-start] 1fr [sidebar-end content-start] 3.5fr [content-end margin-end] 5rem;
  grid-template-rows: auto;
  gap: 3rem;
  margin: 3rem 0;
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  display: flex;
  flex-direction: column; 
  align-items: center;
  left: 130px;
}

.content {
  grid-column: content-start / content-end;
}

h1 {
    line-height: 1.2;
}


nav {
  justify-content: center;
  width: 10rem;
}

.nav-container {
  flex-direction: column; 
  align-items: center;
  width: 100%; 
  gap: 1.5rem;
}

.main-nav-container, .sub-nav-container, .submit {
  flex-grow: 1; 
  width: 100%;
}

.sub-nav-container {
  flex-direction: column;
}

}
